<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Curiosityshop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DevolucionAdd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Devolucion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaDevolucion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ConsultaDevolucion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CalcularEnvio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CalcularEnvio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TopVendidos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TopVendidos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Facturas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Facturas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListaProductos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AgregarProductos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar Productos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
